@import "tailwindcss";

/* Forçamos o fundo branco e texto preto para evitar o Dark Mode automático */
:root {
  --background: #ffffff;
  --foreground: #111827; /* Cinza quase preto */
}

body {
  background-color: white !important;
  color: #111827;
  font-family: Arial, sans-serif;
}

/* Remove qualquer interferência de cores do sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #111827;
  }
}